{% extends 'base.html' %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> 
{% endblock %}
{% block content %}
  <div id="flex"> 
    <img id="linus" alt="Meh" src="{{ url_for('static', filename='linus.jpg') }}"/>
    <p id="welcome">
      DO YOU WANT SOME BITCHIN' NEW GRUB?
      THEN YOU'VE COME TO THE RIGHT PLACE!

      WELCOME TO <span class="logo glow-pink-txt">Linus' Fabulously Tasty cuisine!</span>

      That's me, on the left, <span class="glow-txt">majestic</span>, right?
      My food is exactly the same, majestic, forged from passion and the most organic homegrown produce, perfected through years of trial and hardship.

      So put some synthwave on blast and follow along for this journey of taste and bewilderment.
    </p>
  </div>
  <script>
    $('#home_nav').addClass('glow-pink-txt'); 
  </script>
{% endblock %}
