<head>  
  <style>
    .block {
      width: 10rem;
      height: 10rem;
      background-color: blue;
      border: 1px solid black;
    }
    
    .inline {
      width: 10rem;
      height: 10rem;
      display: inline;
      background-color: orange;
      border: 1px solid black;
    }

    .inline-block {
      width: 10rem;
      height: 10rem;
      display: inline-block;
      background-color: red;
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <div class="block">
  Block
  </div>
  <div class="block">
  Block
  </div>
  <div class="inline">
  Inline 
  </div>
  <div class="inline-block">
  Inline-Block
  </div>
</body>
