#dishes {
  color: #f4f4f4;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}

#dishes li a:visited {
  color: #f4f4f4;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}

#dishes li a:hover {
  color: #f4f4f4;
}

#dishes li a:active {
  color: #f4f4f4;
}

#recipes ul {
  display: table;
  margin:0 auto;
}
