body {
  font-family: 'Roboto', sans-serif;
  padding: 8px 8px;
  background: #000;
  color: #f4f4f4;
}

ul { 
}


h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

h5 {
}

.break {
  width: 100%;
}

#content {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  justify-content: center;
}

#recipes ul {
  display: table;
  margin:0 auto;
}

.grid {
  grid-column: 1 / span 3;
}

#title {
  grid-column: 1 / span 3;
  display: block;
  color: #f4f4f4;
  font-size: 2.2rem;
  font-family: 'Bungee Inline';
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar li {
  float: left;
  margin-top: 2rem;
}

#navbar li a {
  display: block;
  color: #00000;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
  color: #000;
  transform: scale(1.2);
}

#navbar li a:visited {
  color: #fff;
}

#navbar li a:active {
  color: #fff;
}

#navbar li a:link {
  color: #fff;
}
