@font-face {
    font-family: abduction;
    src: url(../fonts/abduction2002.ttf);
}

@font-face {
    font-family: outrun;
    src: url(../fonts/outrun.otf);
}

@font-face {
    font-family: still-time;
    src: url(../fonts/stilltime.ttf);
}

@font-face {
    font-family: road-rage;
    src: url(../fonts/Road_Rage.otf);
}

@font-face {
    font-family: streamster;
    src: url(../fonts/Streamster.ttf);
}

@font-face {
    font-family: Lazer84;
    src: url(../fonts/Lazer84.ttf);
}

.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.active_nav {
  color: #ff0080 !important;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 50px #ff0080, 0 0 60px #ff0080, 0 0 70px #ff0080;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 65px #ff0080;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 8px 8px;
  background-image: url('https://i.redd.it/0i7p7rn0dyhx.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover; 
  color: #f4f4f4;
}

ul { 
}


h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

h5 {
}

.break {
  width: 100%;
}

#content {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  justify-content: center;
}


#content_inc {
  display: none;
  grid-column: 1 / span 3;
  margin-top: 2rem;
  padding: 10px 10px;
  border: 1px solid rgba(255, 0, 128, 0.5);
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}

#title {
  grid-column: 1 / span 3;
  display: block;
  color: #f4f4f4;
  font-size: 2.2rem;
  font-family: road-rage;
}

#navbar {
  grid-column: 1 / span 3;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-family: road-rage;
}

#navbar li {
  float: left;
  margin-top: 2rem;
}

#navbar li a {
  display: block;
  color: #f4f4f4;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

#navbar li:not(:last-of-type) {
  padding-right: 20px;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
  color: #000;
  transform: scale(1.2);
}

#navbar li a:visited {
  color: #fff;
}

#navbar li a:active {
  color: #fff;
}

#navbar li a:link {
  color: #fff;
}

.glow-txt {
  text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7);
}

.glow-pink-txt {
  text-shadow: -1px 1px 8px rgba(255, 0, 128, 0.6), 1px -1px 8px rgba(255, 0, 128, 0.7);
}

