@media only screen and (max-width: 350px) {
  #linus {
    display: none;
  }
}

#linus {
  max-width: 10rem;
  object-fit: cover;
  border: 1px solid white;
  -webkit-filter: contrast(1.2) saturate(2.1);
}

#welcome {
  margin-left: 8px;
  max-width: 25rem;
  white-space: pre-line;
  font-family: road-rage;
}

.logo {
  color: #f4f4f4;
  font-family: road-rage;
}

#flex {
  display: flex;
}
