#recipes {
  color: #f1f1f1;
  font-family: road-rage, 'Permanent Marker', 'Bungee Shade', cursive;
  font-size: 1.3rem;
  text-decoration-line: none;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

#recipes a {
  display: block;
  color: #f4f4f4;
  text-decoration-line: none;
  margin-bottom: 5px;
}

#recipes a:visited {
  color: #f4f4f4;
  text-decoration-line: none;
}

#recipes a:hover {
  color: #f4f4f4;
  text-decoration-line: none;
  transform: scale(1.2);
}

#recipes a:active {
  color: #f4f4f4;
  text-decoration-line: none;
}

#recipes ul {
  display: table;
  margin:0 auto;
}

#recipes table {
  margin: 0 auto;
}

#recipes table td {
}

#recipes table tr > td:not(:last-of-type) {
  padding-right: 3rem;
}

#recipes table tr {
  min-height: 3rem;
}

div.dish {
  display: inline-block;
  margin: 0 2rem;
}
