h3 {
  margin: 0;
}

h5 {
  margin: 0;
}

.bg_yellow {
  background-color: rgba(255, 0, 128, 0.3);
}

#comments {
  border-top: 1px solid white;
  margin-top: 20px;
}

#recipe {
  max-width: 55rem;
}

#dish_img { 
  border-radius: 2%;
  -webkit-filter: drop-shadow(2px 2px 20px #ff0080);
}

#dish_info {
  display: inline-block;
  border-radius: 4%;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;

  /* Margins? */
  margin-left: 0;
  margin-right: 0;
  margin-top: 3px;
  margin-bottom: 3px;
}

#inst, #dish, #ing, #comments_txt {
  display: block;
  font-family: road-rage;
  font-size: 1.5rem;
  margin: 10px 0;
}

#prep_time, #servings {
  display: block;
}

#dish { 
  font-size: 2rem;
}

#ingredients {
  margin-top: 3px;
  margin-bottom: 3px;
}

#instructions {
  white-space: pre-line;
}
