{% extends 'base.html' %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/recipes.css') }}"> 
{% endblock %}
{% block content %}
<div id="recipes">
</div>
<script>
  /* Set navigation active. */
  //$('#home_nav').addClass('active_nav'); 
  $('#recipes_nav').addClass('glow-pink-txt'); 
  //$('#recipes_nav').addClass('glow'); 
  
  var recipes = {{ recipes_data|tojson }};
  /* D3 because, easy money. */ 
  var table = d3.select('#recipes').append('table');
  var thead = table.append('thead');
  var	tbody = table.append('tbody');
  var row = tbody.append('tr');
  var current_cell = 0; 
  for (var i in recipes) {
    row.append('td')
       .append('a')
       .attr('href', '/recipes/' + i)
       .attr('class', 'glow-pink-txt')
       .text(recipes[i].dish);
    current_cell++;
    if (current_cell % 2 == 0) {
      row = tbody.append('tr');
    }
  }
</script>
{% endblock %}
